<body>
  <style>
    body {background-color: yellow;}
  </style>

<h3><a href="/home">Home</a></h3>
  <style>
    h3 {text-align: center;}
  </style>

<h4>Destination</h4> <%=@trips.destination%>
<br></br>

<h4>Date</h4> <%=@trips.date%>
<br></br>

<h4><a href="/trips/<%=@trips.id%>/edit">Edit trip</a></h4>
  <style>
    h4:link {background-color: orange;}
    a:visited {background-color: blue;}
    a:hover {background-color: red;}
    a:active {background-color: green;}
</style>
<br>
</br>

<p><% if @trips.user == current_user %>
<form action="/trips/<%=@trips.id%>" method="POST">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Delete trip">
	</form>
<% end %></p>
</body>