<body>
<style>
body {
  background-color: yellow;
}
</style>
<h1>Welcome to TripPlanner</h1>
<style>
  h1{text-align: center;
  font-family: "Arial", sans-serif;
  color: black;
  font-size: 4em;
  padding: 40px;
  border-style: double;
  border-color: white}
</style>
<h3>Plan your trips</h3>
  <style>
    h3{text-align: center;
    font-family: "Arial", sans-serif;
    color: black
    font-size: 3em;}
  </style>
  <br></br>
<a href="/signup">Sign up</a> <br></br> <a href="/login">Log in</a>
  <style>
    h4:link {background-color: orange;}
    a:visited {background-color: blue;}
    a:hover {background-color: red;}
    a:active {background-color: green;}
  </style>
</body>